*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
    color: #000;
    font-weight: 800;
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

h2 {
    text-align: center;
    margin: 1rem 0;
    font-size: 1rem;
}

.main{
    background-color: hotpink;
    border: #f4f4f4 solid 2px;
    min-height: 80vh;
    max-height: 85vh;
    padding-bottom: 5vh;
}

.control {
    background-color: #000;
    border-bottom: #ccc solid 2px;
    height: 7vh;
    font-size: 0.4rem;
}

.control div {
    display: inline-block;
    width: 32.5%;
    height: 7vh;
    border: #ccc solid 2px;
    box-sizing: border-box;
    background-color: aqua;
}

#question {
    background-color: #f4f4f4;
    padding: 0.5rem;
    color: #000;
    width: 80%;
    margin: auto;
    margin-top: 2.5rem;
    text-align: center;
    border-radius: 5px;
}

.answers {
    background-color: #f4f4f4;
    padding: 0.5rem;
    color: #000;
    width: 80%;
    margin: auto;
    margin-top: 2.5rem;
    text-align: center;
    height: 50vh;
    border-radius: 5px;
}

.box {
    margin-top: 0;
}

.box div {
    display: block;
    font-size: 0.6rem;
    width: 100%;
    height: 3vh;
    border: none;
    margin: auto;
    text-align: center;
}

#answers {
    margin-top: 2em;
}
.ans {
    list-style: none;
    text-align: left;
    padding: 00.5rem 1rem;
    background-color: #ccc;
}

.ans:hover {
    background-color: aqua;
    color: hotpink;
}

#marks {
    background-color: rgb(23, 178, 199);
    color: #fff;
    border: solid 1px #ccc;
    float: left;
    padding: 00.5rem;
    opacity: 0;
    transition: ease-in;
}

.end, .start {
    margin: auto;
    margin-top: 25vh;
    text-align: center;
}
#endDiv {
    margin-top: 50vh;
}
#replay, #start {
    padding: 1rem;
    background-color: #333;
    margin-top: 5vh;
    color: #fff;
    border-radius: 5px;
    font-weight: 800;
}

#replay:hover, #start:hover {
    background-color: #ccc;
    color: #000;
}